.mainContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 50px 28px 28px 28px;
    font-family: calibri;
    overflow-y: auto;
}

.heading {
    font-family: calibri;
    font-size: 24px;
    font-weight: 600;   
    color: #1D1A1A;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tableDisplay {
    height: 100%;
    width: 100%;
    overflow: auto;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.appName {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 10px;
}

.appNameImage {
    height: 26px;
    width: 26px;
}

.clicks {
    text-align: end;
}